.App {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  .price {
    font-size: 28px;
    font-weight: bold;
    
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100vw - 24px);

  input {
    height: 42px;
    font-size: 18px;
  }

  button {
    height: 30px;
    border-radius: 6px;
    border: 1px solid  #1b75bf; 
    background-color: #1b75bf;
    color: white;
    font-size: 16px;
  }
}

.units-container {
  display: flex;
  justify-content: space-evenly;

  input {
    padding-left: 8px;
    padding-right: 8px;
     height: 42px;
     width: 30%;
    font-size: 18px;
  }

  select {
    padding-left: 8px;
    padding-right: 8px;
     height: 100%;
     height: 48px;
    font-size: 20px;
  }
}

.list-item {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  width: calc(100vw - 24px);
  height: 48px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #dae7ff;
  color: black;

  li,
  span.price {
    font-weight: 600;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
  gap: 12px

}


@media screen and (min-width:576px) {
  .form-container,
  .list-item  {
    max-width: 50vw;

  }
  
}

@media screen and (min-width:996px) {
  .form-container
  .list-item  {
    max-width: 40vw;

  }
  
}
